.register-card {
  max-width: 500px;
  margin: auto !important;
  margin-top: 2em !important;
  .title {
    margin-top: 28px;
    margin-bottom: 35px;
    margin-left: 33.33333333%;
  }
  .ant-btn {
    margin-right: 1em;
  }  
}