.ant-card.ant-card-bordered {
  .antd-pro-charts--water-wave-waterWave {
    float: right;
    margin-right: 20px;
  }
}
.card-statistics {
  text-align: center;
  i.anticon {
    position: absolute;
    top: 12px;
    left: 18px;
    font-size: 20px;
  }
  .card-digital {
    font-size: 32px;
  }
  .card-entry {
    display: block
  }
}